#!/bin/sh

display -window root ~/.local/share/bc.png &
export $(gnome-keyring-daemon --start)
xrdb ${XDG_CONFIG_HOME:-$HOME/.config}/x11/xresources &
dwmblocks &>/dev/null &
autostart &
remaps &
xbanish -t 5 &
