#!/bin/sh

# This file runs when a DM logs you into a graphical session.

xwallpaper --zoom ~/.local/share/bc.jpg & # Set walpaper
xrdb ${XDG_CONFIG_HOME:-$HOME/.config}/x11/xresources &
dwmblocks &
autostart &
remaps &
unclutter &
