@define-color fgcolor #ffffff;  /* foreground color */
@define-color bgcolor #181818;  /* background color */
@define-color blue #005577;
@define-color red #a54242;

* {
	border: none;
	font-family: "JetBrainsMono", "Roboto Mono Medium", Helvetica, Arial, sans-serif;
	font-size: 12px;
	min-height: 0;
	padding: 0;
}

window#waybar {
	opacity: 0.9;
	background-color: @bgcolor;
	color: @fgcolor;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces button {
	background-color: transparent;
	color: @fgcolor;
	border-radius: 8px;
	min-width: 25px;
}

#workspaces button.active {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color: @fgcolor;
	color: @bgcolor;
	min-width: 25px;
}

#workspaces button:hover {
	background: @blue;
}

#workspaces button.focused {
	background-color: #bbccdd;
	color: #323232;
}

#workspaces button.urgent {
	background-color: @red;
}

.modules-left > widget:first-child > #workspaces {
	margin-left: 10px;
}

.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

button:disabled {
	all: unset;
}

label {
	all: unset;
}

@keyframes blink {
	to {
		background-color: @fgcolor;
		color: #333333;
	}
}

#custom-separator {
	color: #303030;
	margin: 0 1px;
}
