/* ROOT VARIABLES & GLOBAL SETTINGS */
:root {
	--WindowDraggingFromNewtabButton: drag !important; /* For Linux */
	--toolbarbutton-inner-padding: 0px !important; /* Button padding */
	--tab-border-radius: 0px !important; /* Tab border radius */
	--NavbarWidth: 43; /* Default: 36 - 43 */
	--TabsHeight: 30; /* Minimum: 30 */
	--TabsBorder: 8; /* Default: 8 */
	--NavbarHeightSmall: calc(var(--TabsHeight) + var(--TabsBorder));
	--tabpanel-background-color: -moz-Dialog !important; /* Removes flash before loading */
	--content-margin-top: -10px; /* Reusable margin value */
}

/* GLOBAL ELEMENT REMOVAL */
toolbarspring,
#firefox-view-button,
#save-to-pocket-button,
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"],
#sidebar-splitter,
#private-browsing-indicator-with-label {
	display: none !important;
}

/* No tab border on left */
#tabbrowser-tabs { border-inline-start-width: 0 !important; }

/* LAYOUT & RESPONSIVE NAVBAR */
#navigator-toolbox {
	margin-top: -5px !important;
	margin-bottom: -5px !important;
	border: none !important;
	padding-bottom: 10px;
}

/* Wide & Medium layouts: tabs + navbar side by side */
@media screen and (min-width: 961px) {
	:root #nav-bar {
		margin-top: calc(var(--TabsHeight) * -1px - var(--TabsBorder) * 1px) !important;
		height: calc(var(--TabsHeight) * 1px + var(--TabsBorder) * 1px);
	}
	#TabsToolbar, #nav-bar { transition: margin-top .25s !important; }
	#urlbar-container { min-width: 0px !important; flex: auto !important; }
}

/* Wide layout: fixed tabs space at 1325px */
@media screen and (min-width: 1325px) {
	#TabsToolbar { margin-left: calc(1325px / 100 * var(--NavbarWidth)) !important; }
	#nav-bar { margin-right: calc(100vw - calc(1325px / 100 * var(--NavbarWidth))) !important; }
}

/* Medium layout: proportional tabs space */
@media screen and (min-width: 961px) and (max-width: 1324px) {
	#TabsToolbar { margin-left: calc(var(--NavbarWidth) * 1vw) !important; }
	#nav-bar { margin-right: calc(100vw - calc(var(--NavbarWidth) * 1vw)) !important; }
}

/* Small layout: stacked navbar */
@media screen and (max-width: 960px) {
	:root #nav-bar {
		padding: 0 5px !important;
		height: calc(var(--NavbarHeightSmall) * 1px) !important;
	}
	#TabsToolbar, #nav-bar { transition: margin-top .25s !important; }
}

#nav-bar, #PersonalToolbar {
	background-color: transparent !important;
	background-image: none !important;
	box-shadow: none !important;
	border-top: none !important;
}

#nav-bar {
	margin-left: 3px;
	vertical-align: center !important;
}

/* URL BAR & SEARCH */

/* Remove background/border while not in use */
#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
	box-shadow: none !important;
	background: transparent !important;
}

/* Hide most URL bar suggestions except first two */
.urlbarView-row { display: none !important; }
.urlbarView-row:nth-child(1),
.urlbarView-row:nth-child(2) { display: flex !important; }

#urlbar-anon-search-settings { margin-inline-start: 0 !important; }
#urlbar-container { margin-left: 1px !important; }

/* Hide tabs when hovering or editing the URL bar (requires layout.css.has-selector.enabled) */
#navigator-toolbox:has(#urlbar:hover) #TabsToolbar,
#navigator-toolbox:has(#urlbar[focused="true"]) #TabsToolbar {
	visibility: hidden !important;
	pointer-events: none !important;
}
#navigator-toolbox:has(#urlbar:hover) #nav-bar,
#navigator-toolbox:has(#urlbar[focused="true"]) #nav-bar {
	position: relative !important;
	z-index: 9999 !important;
	width: 100% !important;
}

/* FIX: Move bookmark button and zoom indicator to left side of address bar */
#page-action-buttons,
#urlbar-zoom-button {
	order: -1 !important;
}

/* TABS */
.tab-background, .tab-stack {
	min-height: calc(var(--TabsHeight) * 1px) !important;
}

.tabbrowser-tab[selected] .tab-background {
	background: #005577 none !important;
}

/* Tab close buttons - consolidated transitions */
.tabbrowser-tab:not(:hover) .tab-close-button,
.tab-close-button[selected]:not(:hover),
.tabbrowser-tab:hover .tab-close-button,
#tabs-newtab-button,
#new-tab-button {
	transition: .3s !important;
}

.tabbrowser-tab:not(:hover) .tab-close-button {
	opacity: 0 !important;
	display: -moz-box !important;
}
.tab-close-button[selected]:not(:hover) { opacity: 45% !important; }
.tabbrowser-tab:hover .tab-close-button { opacity: 50% !important; }
.tab-close-button:hover,
.tab-close-button[selected]:hover { opacity: 100% !important; }
.tab-close-button:hover {
	background: none !important;
	cursor: pointer;
}

/* Remove space after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: 0 !important;
}

/* New tab button tweaks */
#tabs-newtab-button, #new-tab-button {
	color: transparent !important;
	fill: FieldText !important;
	background: none !important;
	opacity: 20%;
	padding-right: 20px !important;
	padding-left: 4px !important;
	-moz-window-dragging: var(--WindowDraggingFromNewtabButton);
}
#tabs-newtab-button:hover, #new-tab-button:hover { opacity: 90%; }
#tabs-newtab-button > .toolbarbutton-icon,
#new-tab-button > .toolbarbutton-icon { background: none !important; }

/* TOOLBAR BUTTONS */
#PanelUI-menu-button, #unified-extensions-button,
#reload-button, #stop-button { padding: 2px !important; }
#reload-button, #stop-button { margin: 1px !important; }

/* RTL navbar trick to reorder elements */
#nav-bar { direction: rtl; }
#urlbar-container, #customizationui-widget-panel { direction: ltr !important; }
#back-button, #forward-button { display: none !important; }

/* ROUNDED CORNERS / VISUAL TWEAKS */
#main-window:has(#navigator-toolbox[style=""]) #tabbrowser-tabpanels,
:not([sizemode="fullscreen"]) #tabbrowser-tabpanels {
	margin: var(--content-margin-top) 0 0 0 !important;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}
#main-window:has(#navigator-toolbox[style=""]) .browserStack>browser,
:not([sizemode="fullscreen"]) .browserStack>browser {
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}
.browserStack {
	background-color: -moz-Dialog !important;
	border-radius: 10px !important;
	z-index: 2;
}
.browserContainer { background-color: transparent; }

/* Findbar */
findbar {
	height: 50px;
	border: none !important;
	background-color: -moz-Dialog !important;
	z-index: 1;
}
.findbar-container, findbar .close-icon { margin-top: 10px !important; }

/* SIDEBARS */
#sidebar-header { padding-bottom: 0 !important; border-bottom: 0 !important; }
#sidebar-box {
	margin-top: var(--content-margin-top) !important;
	border-radius: 0 10px 0 0 !important;
	z-index: 1;
}
#sidebar-box[positionend="true"] { border-radius: 10px 0 0 0 !important; }
#sidebar-box > * { background-image: none; }

/* OTHER UI TWEAKS */
#statuspanel-label {
	background-color: -moz-Dialog !important;
	border-color: transparent !important;
	border-radius: 5px !important;
	color: currentColor !important;
	margin: 0 0 2.5px 2px !important;
	padding: 5px !important;
	opacity: 100%;
}

#appMenu-fxa-separator { border-image: none !important; }

/* Drop menus */
[position="bottomright topright"] { --panel-border-radius: 0 5px 5px 5px !important; }
[position="bottomleft topleft"] { --panel-border-radius: 5px 0 5px 5px !important; }
[part="content"] { border: none !important; }
.toolbarbutton-1[open] { --toolbarbutton-border-radius: 4px 4px 0 0 !important; }

/* Notifications */
#tab-notification-deck .container.infobar { background: -moz-Dialog !important; }
#tab-notification-deck .notificationbox-stack { background: transparent !important; }

/* Fullscreen */
#fullscreen-warning { border: none !important; background: -moz-Dialog !important; }

/* DevTools */
.devtools-horizontal-splitter {
	margin-top: 7px !important;
	margin-bottom: -12px !important;
	opacity: 0;
}
.devtools-side-splitter { opacity: 0; }
.devtools-toolbox-side-iframe {
	margin-top: var(--content-margin-top);
	border-radius: 10px;
}

/* Customization page */
#customization-panelWrapper { max-width: 30em !important; }
#customization-container > * {
	margin-top: var(--content-margin-top);
	background-color: -moz-Dialog !important;
}
